* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;

}

body {
    background-color: red;
    height: 100%;
}
.f1header{
    display: flex;
    height: 70px;
}


.f1header img {
    width: auto;
    height: 50px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(51deg) brightness(101%) contrast(102%);
}

.f1header button {
    background-color: white;
    border-radius: 20px;
    border: none;
    width: 100px;
    height: auto;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.f1header button:hover {
    cursor: pointer;
}

main {
    padding: 30px 30px;
    background-color: rgb(4, 11, 82);
    color: white;
}

header {
    padding: 1%;
    background-color: red;
    color: white;
    display: inline-block;
    overflow: hidden;
}

.f1header h1 {
    display: inline;
    padding: 20px;
}

#texto {
    font-size: 17px;
    line-height: 40px;
    text-align: justify;
    clear: both;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#monoplaza {
    float: right;
    width: 40%;
    margin-left: 20px;
    padding: 10px;
    /*border tamano valor y tipo*/
    border: 20px rgb(249, 249, 249) solid;
}

th {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(253, 222, 100);
}

td {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(253, 222, 100);
}

.imagncarrra::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    padding: 0%;
    margin: 0%;
    top: 0%;
    right: 0%;
}

.carrera {

    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;


}

.Resumen .derecha {
    float: right;
    width: auto;
    height: 220px;
    margin-left: 20px;
    padding: 10px;
    /*border tamano valor y tipo*/
}

.Resumen .izquierda {
    float: left;
    width: auto;
    height: 230px;
    margin-left: 15px;
    padding: 10px;

    /*border tamano valor y tipo*/
}

footer {
    background-color: black;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}

/* Ocultar iconos de scroll */
::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra de desplazamiento */
    background-color: #f1f1f1;
    /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color del pulgar (parte deslizable) */
    border-radius: 4px;
    /* Radio de borde del pulgar */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color del pulgar al pasar el cursor por encima */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color de fondo de la pista (parte no deslizable) */
}

.estructuraf1 {

    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    margin-bottom: 30px;
}

.estructuraf1 img {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

#texto p {
    margin-bottom: 20px;
}

